
matplotlib==3.3.3
pandas==1.2.0
pmdarima==1.8.4
scipy==1.5.4
seaborn==0.11.2
sklearn==0.24.0
statsmodels==0.13.1
IPython==7.19.0
jupyter_client==6.1.7
jupyter_core==4.7.0
jupyterlab==3.0.0
notebook==6.1.6
